/*******************************************************************************
 *  make the footer inlined
 */
 .footer-item {
    display: inline-block;
  }
  .footer-item:not(:last-child) {
    border-right: 1px solid var(--pst-color-text-base);
    margin-right: 0.5em;
    padding-right: 0.5em;
  }

  /*******************************************************************************
 * Customize the colors of the website
 */
html[data-theme="light"] {
  --pst-color-primary: #ec880e;
}

html[data-theme="dark"] {
  --pst-color-primary: #ec880e;
}